<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla periodica</title>
    <link rel="stylesheet" href="/assests/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css" />
</head>
<body>
<div class="container m-3">
    <div class="row m-3">
        <div class=" col-md-12">
            <h3 class="text-center">No se encontro la pagina </h3>
        </div>
    </div>
    
     
</div>
</body>
</html>